*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

body{
    background-color: #faf1e1;
    padding-top: 70px;
}

.navbar{
    height: 70px;
    background-color:#fffaf3;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    padding: 0 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
}

.links a:hover{
    color: red;
}
.logo img {
    width: 120px;
    
}

.book{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    font-weight: 600;
}

.book:hover {
   background-color: rgb(202, 20, 3);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 600px;
    display: block;
}

.links{
   list-style: none;
   display: flex;
   gap: 60px;
 
}
 
.links a{
    text-decoration: none;  
    color:black;
    font-weight: 500;
}
  
.links a.active{
    color: orangered;
}

.text {
    position: absolute;
    top: 130px;
    left: 65px;
}

.text p{
    color: orangered;
    padding: 5px;
}

.text h1{
    font-size: 60px;
}

.text span{
    color: orangered;
}

.paragraph{
    position: absolute;
    top: 350px;
    left: 65px;
}
.paragraph p{
    font-size: larger;
}

.explore{
    position: absolute;
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding:15px 25px;
    border-radius: 20px;
    font-weight: 600;
    top: 470px;
    left: 65px;
}
.explore:hover{
    background-color: rgb(202, 20, 3);
}

.our-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 25px;
    color: orangered;
}
.our-menu h3{
    font-size: 25px;
    font-weight: 500;
}
.our-menu span{
    width: 55px;
    height: 3px;
    background-color: orangered;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;

}

.list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 80px;
    padding: 0 20px;
    margin: 40px;
    
}

.list a{
    text-decoration: none;
    color: black;
    font-weight: 500; 
}
.list a:hover{
    color: red;
}
 
.list a.active {
    color: orangered;
    position: relative;
}

.food-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 40px;
}

.food-card {
    width: 250px;
    min-height: 300px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.food-card {
    transition: 0.5s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* box-shadow: 0px 0px 10px 0.1px rgb(156, 129, 96); */ 
    border-radius: 8px;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.card-bottom button {
    color: white;
    padding: 10px 20px;
    border: 1px solid orangered;
    border-radius: 5px;
    background-color: orangered;
    cursor: pointer;
}

/* .offer-container{

    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-card{
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: white;
}
.offer-card img{
    width: 200px;
    height: 200px;
   
} */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    background-color:white;
    color:black;

    padding: 40px 65px;
}
.footer-box img{
    width: 150px;
    height: 60px;
}
.footer-box h3 {
    color: orangered;
    margin-bottom: 15px;
}

.footer-box p {
    margin-bottom: 8px;
}

@media (max-width: 768px) {

    .navbar {
        height: 65px;
        padding: 0 20px;
    }

    .logo img {
        width: 100px;
    }

    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }

    .links {
        display: none;

        position: absolute;
        top: 65px;
        left: 0;

        width: 100%;

        flex-direction: column;
        align-items: center;

        gap: 20px;

        padding: 25px 0;

        background-color: #fffaf3;
    }

    #menu-toggle:checked ~ .links {
        display: flex;
    }

    .book {
        display: none;
    }

}