*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(./image/pasta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
 
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 9, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo img{
    width: 100px;
    height: 70px;
    object-fit: contain;

}


nav ul{
   width: 100%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
nav li{
    height: 50px;
}
    
 nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
 }

nav a:hover{
    background-color: rgb(163, 160, 165);
} 
nav li:first-child{
    background-color: rgb(171, 167, 176);
     

}